.ui-button {
  border-radius: 10px;
  padding: 12px 48px;
  font-weight: 700;
  color: #fff;
  background: var(--text-primary);
  transition: 150ms;

  &:hover {
    background: var(--text-secondary);
  }

  &:active {
    background: var(--text-primary);
  }
}
